/*------------------header-----------*/

h1 {
    font-family: Roboto, Helvetica, sans-serif;
    font-weight: 700;
}

#header-image {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

#logo-and-title {
    padding: 10px;
}

/*-------------------Navigation bar----------*/

nav {
    box-shadow: 10px 5px 5px #808080;
    margin: 0 auto;
    background-color: #555555;
}

nav ul {
    padding: 0;
}

nav li {
    padding: 15px;
    font-weight: bold;
    font-size: 15px;
    list-style-type: none;
    margin: 0 auto;
}

nav ul a {
    color: white;
    padding: 20px;
}

/*-------------------Body-----*/

body {
    font-family: verdana;
}

.body-container {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
}

/*-------------------Home Page-----*/

#home-title {
    padding: 20px;
    font-size: 40px;
    font-weight: bold;
}

#home-page-image {
    height: auto;
    width: 183px;
    margin: 0 auto;
    display: block;
    border-radius: 15px;
}

#home-text-1,
#home-text-2 {
    font-size: 1rem;
    padding: 20px;
}

#home-text-2 {
    padding-bottom: 100px;
}

/*---------------------About and Services Page --------*/

#about-title,
#services-title {
    font-size: 40px;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

#about-title {
    margin-top: 60px;
}

#about-image,
#services-image {
    margin: 0 auto;
    height: auto;
    width: 20rem;
    padding: 20px;
}

#about-content {
    font-size: 1rem;
    padding: 10px;
}

#services-content li {
    padding: 5px;
    font-size: 1rem;
}

/*-------------------Gallery----------*/

#gallery {
    padding: 10px;
    font-weight: bold;
}

.img-fluid {
    height: 200px;
    width: 300px;
    padding: 10px;
    border-radius: 15px;
}

main .container-fluid {
    text-align: center;
}

/*-------------------Contact----------*/

form {
    text-align: center;
}

.form-container {
    border: 2px double black;
    box-shadow: 10px 5px 5px grey;
    background-color: green;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    color: white;
    margin-top: 20px;
}

#contact-us {
    padding: 10px;
}

.label-div,
.input-div {
    margin: 0 auto;
    padding: 5px;
    width: 100%;
}

input,
textarea {
    display: inline-block;
}

form > div {
    text-align: center;
}

input,
textarea {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.input-div {
    width: 70%;
}

input[type="submit"] {
    width: 70%;
}

#contact-details {
    margin: 0 auto;
    padding: 20px;
}

/*-------------------Footer----------*/

footer {
    display: flex;
    background-color: lightgoldenrodyellow;
    width: 100%;
    text-align: center;
}

footer div p {
    font-size: 15px;
}

i {
    color: black;
    padding: 5px;
}

#social-links a {
    text-decoration: none;
}

.footer-container,
#copyright {
    padding: 10px;
}

h3 {
    font-size: 20px;
    font-weight: bold;
}

/*-------------------Media Queries----------*/

@media screen and (min-width: 768px) {
    #logo-and-title {
        margin: 0 auto;
    }

    h1 {
        text-align: center;
        font-size: 60px;
        padding: 20px;
    }

    header {
        display: flex;
    }

    nav ul {
        text-align: center;
    }

    nav li {
        display: inline-block;
    }

    #home-title {
        padding: 20px;
        font-size: 40px;
        margin: 0 auto;
        text-align: center;
    }

    #home-page-image {
        width: 253px;
        height: auto;
        padding: 10px;
        text-align: center;
    }

    #home-text-1,
    #home-text-2 {
        margin-left: 60px;
        margin-right: 40px;
        font-size: 1.5rem;
    }

    #about-image {
        float: left;
    }

    #about-image,
    #services-image {
        margin: 0 auto;
        height: auto;
        width: 20rem;
        padding: 20px;
        float: left;
    }

    #about-content {
        font-size: 1.5rem;
        text-align: justify;
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 20px;
    }

    #about-title,
    #services-title {
        font-size: 40px;
        padding: 10px;
    }

    #services-title {
        margin-top: 50px;
    }

    #services-image {
        float: right;
    }

    #services-content li {
        margin-top: 20px;
        font-size: 1.5rem;
    }

    .label-div {
        margin: 0 auto;
        clear: both;
    }

    .input-div {
        width: 50%;
    }

    input[type="submit"] {
        width: 50%;
    }

    #contact-details {
        text-align: center;
        margin-bottom: 140px;
    }

    footer {
        font-size: 20px;
        margin-top: auto;
    }
}

@media screen and (max-width: 320px) {
    footer h3 {
        font-size: 15px;
        font-weight: bold;
    }

    footer p {
        font-size: 12px;
    }
}

@media screen and (max-width: 440px) {
    #logo-and-title {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    header > div {
        text-align: center;
        padding: 5px;
    }

    #about-image,
    #services-image {
        margin: 0 auto;
        display: block;
    }

    footer {
        display: block;
    }
}

