

/*------------------head-----------*/

h1 {
    text-align: justify;
    font-family: Roboto, Helvetica, sans-serif;
    font-weight: 700;
    padding: 20px;
    margin: 20px;
    margin-top: 10px;
    font-size: 40px;
    text-transform: uppercase; 
     
}

/*-------------------header----------*/

#header-image {
    width: 40rem;
    height: 20rem;
    padding: 5px;
}

body div {
    text-align: center;
    padding: 5px;
    
}

.logo-and-title {
    margin: 0 auto;
    margin-left: 50px;
    padding: 10px;
}

/*-------------------logo----------*/

#logo {
    float: left;
    width: 5rem;
    height: 5rem;
    margin-top: 5px;
    padding: 5px;
    
}

/*-------------------Navigation bar----------*/

.nav-bar {
    text-align: center;
}


a {
    text-decoration: none;
    color: black;
}


nav li {
    display: inline-block;
    padding: 20px;
    margin: 10px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
}

/*-------------------Home Page-----*/

#home-page {
    margin: 0 auto;
}

#home-title {
    padding: 20px;
    margin: 20px;
    font-size: 50px;
    margin: 0 auto;
}

.home-text {
    font-size: 30px;
    padding: 20px;
    text-align: justify;
    margin: 20px;
}

 #home-page-image {
    max-width: 20rem;
    max-height: 45rem;
    padding: 10px;
    margin: 0 auto;
    margin: 10px;
}


/*---------------------About and Services Page --------*/


#about-title {
    text-align: right;
    font-size: 50px;
    text-decoration: underline;
    margin-right: 400px;
    margin-top: 60px;
    padding: 10px;
}

#about-image {
    float: left;
    height: 35vh;
    width: 35vw;
    padding: 20px;
    border-radius: 20px;
}


#about-content {
    font-size: 30px;
    padding-top: 10px;
    padding-left: 200px;
    margin-left: 300px;
    margin-right: 100px;
    text-align: justify;
}

#services-title {
    text-align: center;
    font-size: 50px;
    margin-left: 50px;
    margin-right: 600px;
    margin-top: 300px;
    padding: 10px;
    text-decoration: underline;
}

#services-image {
    float: right;
    height: 40vh;
    width: 40vw;
    padding: 20px;
    border-radius: 20px;
    margin: 20px 100px 20px 20px;
    

}

#services-content li {
   padding: 5px;
   font-size: 30px;
   text-align: justify;
}

#thank-you {
    font-size: 30px;
    padding: 20px;
}


/*-------------------Gallery----------*/

/*-------------------Contact----------*/

form {
    padding: 15px;
    margin: 20px;
    margin: 0 auto;
}

form > h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    padding: 2rem;

}

.form-container > div {
    padding: 10px;
    text-align: center;
    margin: 0 auto;
}


.form-details {
    font-weight: 400px;
}

button {
  padding: 10px;
  border-radius: 20px;
  background-color: lightblue;
}

#contact-details {
    margin: 0 auto;
    padding: 20px;
}

/*-------------------Footer----------*/

footer {
    background-color: darkslategrey;
    height: 60px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
}