

/*------------------head-----------*/

h1 {
    text-align: center;
    font-family: Roboto, Helvetica, sans-serif;
    font-weight: 700;
    padding: 20px;
    margin-left: 45px;
    margin-top: 10px;
    font-size: 30px;
    text-transform: uppercase; 
    width: 100%;
     
}

/*-------------------header----------*/

#header-image {
    width: 100%;
    padding: 5px;
    margin: 0 auto;
}

.logo-and-title {
    margin: 0 auto;
    padding: 10px;
}

/*-------------------logo----------*/

#logo {
    float: left;
    width: 5rem;
    height: 5rem;
    margin-top: 30px;
    padding: 5px; 
}

/*-------------------Navigation bar----------*/

.nav-bar {
    text-align: center;
}


a {
    text-decoration: none;
    color: black;
}


nav li {
    display: block;
    padding: 20px;
    margin: 10px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
}

/*-------------------Home Page-----*/

#home-page {
    margin: 0 auto;
}

#home-title {
    padding: 20px;
    font-size: 40px;
    margin: 0 auto;
    text-align: center;
}

.home-text-1 {
    font-size: 30px;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.home-text-2 {
    font-size: 30px;
    padding: 20px;
    margin-bottom: 100px;
    text-align: justify;
}

 #home-page-image {
    width: 250px;
    height: 400px;
    padding: 10px;
    margin-left: 35px;
}


/*---------------------About and Services Page --------*/


#about-title {
    font-size: 40px;
    text-decoration: underline;
    margin-top: 60px;
    padding: 10px;
    text-align: center;
}

#about-image {
    margin: 0 auto;
    height: 20rem;
    width: 20rem;
    padding: 20px;
    border-radius: 20px;
}


#about-content {
    font-size: 1rem;
    text-align: justify;
}

#services-title {
    text-align: center;
    font-size: 40px;
    padding: 10px;
    text-decoration: underline;
}

#services-image {
    margin: 0 auto;
    height: 20rem;
    width: 20rem;
    padding: 20px;
}

#services-content li {
   padding: 5px;
   font-size: 1rem;
   text-align: justify;
}

#thank-you {
    font-size: 1rem;
    padding: 20px;
}


/*-------------------Gallery----------*/

 #gallery {
    text-align: center;
    text-decoration: underline;
    padding-bottom: 20px;
 }
/*-------------------Contact----------*/

form {
    padding: 15px;
    margin: 20px;
    margin: 0 auto;
}

form > h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    padding: 2rem;

}

.form-container > div {
    padding: 10px;
    text-align: center;
}

.form-details {
    font-weight: 400px;
}

input {
    display: block;
    margin: 0 auto;
}

textarea {
    display: block;
    margin: 0 auto;
}

#phone {
    text-align: center;
}

#submit {
  padding: 10px;
  text-align: center;
}

button {
    background-color: lightgrey;
}

#contact-details {
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 100px;
}

/*-------------------Footer----------*/

footer {
    background-color: darkgrey;
    height: 100px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer div {
    display: block;
    padding: 10px;
    width: 30%;
}

.contact-container {
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-size: 5px;
}

.opening-container {
    padding: 10px;
    margin: 10px;
    font-size: 5px;
    text-align: center;
    display: block;
}


.social-container {
   text-align: center;
   font-size: 5px;
}

/*-------------------Media Queries----------*/



@media screen and (min-width: 619px) {
    #header-image {
        width: 100%;
        padding: 10px;
        margin: 10px;
    }
    nav li {
        display: inline-block;
   }

}

@media screen and (min-width: 768px) {
    #logo {
        float: left;
        width: 8rem;
        height: 8rem;
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 20px; 
    }
    h1 {
        text-align: center;
        font-size: 60px;
        margin-top: 35px;
        padding: 20px;
    }

    #home-title {
        padding: 20px;
        font-size: 40px;
        margin: 0 auto;
        text-align: center;
    }
    
    #home-wrapper-text {
        display: inline-block;
    }
    
     #home-page-image {
        width: 250px;
        height: 400px;
        padding: 10px;
        text-align: center;
    }

    #about-image {
        margin: 0 auto;
        height: 20rem;
        width: 20rem;
        padding: 20px;
        float: left;
    }
    
    
    #about-content {
        font-size: 1rem;
        text-align: justify;
        margin-right: 20px;
        margin-top: 20px;
    }
    
    #services-title {
        text-align: center;
        font-size: 40px;
        padding: 10px;
        text-decoration: underline;
        margin-top: 270px;
    }
    
    #services-image {
        margin: 0 auto;
        height: 20rem;
        width: 20rem;
        padding: 20px;
        float: right;
    }

    #services-content li {
        margin-top: 20px;
    }
    
    #thank-you {
        font-size: 1rem;
        padding: 20px;
        text-align: center;
    }

    .form-container {
        text-align: left;
    }
    
    input {
        display: inline-block;
        width: 30%;
    }

    textarea {
        display: inline-block;
    }
    
}

@media screen and (max-width: 320px) {
         .form-details{
            display : block;
        }
}