h1 {
    text-align: center;
    font-family: Roboto, Helvetica, sans-serif;
    font-weight: 700;
    padding: 20px;
    
    
}

header  {
    margin: 0 auto;
}


#header-image {
    position: fixed;
    height: 60vh;
    width: 100vw;
}

body div {
    text-align: center;
    padding: 5px;
    
}

#logo {
    float: left;
    width: 60px;
    margin-top: 15px;
    margin-left: 150px;
    margin-right: 5px;
    padding-right: 5px;
 
    
}


.nav-bar {
    text-align: center;
    margin-top: 420px;

}

ul {
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}

nav li {
    display: inline-block;
    padding: 30px;
    margin: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
}